rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{user} {
      function isSignedIn() {
        return request.auth && request.auth.uid;
      }
      function isSameUser() {
        return user == request.auth.uid;
      }
      allow read, create, update: if isSignedIn() && isSameUser();
      allow delete: if false;
      match /{image} {
      	allow read, create: if isSignedIn() && isSameUser();
      	allow update, delete: if false;
      }
    }
  }
}
